.presentation {
  display: flex;
  flex-direction: column;
  color: $text-color-on-black;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1200px) {

  }
}

.presentation__img {
  position: absolute;
  bottom: 0;
  order: -2;
  width: 80%;
  height: 286px;
  background: url("/img/iphone-hand-mobile@1x.png") no-repeat center;

  @media (min-width: 768px) {
    bottom: 0;
    left: 170px;
    background-size: 470px auto;
    min-height: 546px;
  }

  @media (min-width: 1200px) {
    background-size: 1200px auto;
    min-height: 462px;
  }

}

.presentation__touch {
  color: $text-color-on-black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
