.information {
  position: relative;
  background-color: $white;
}

.information__suggestion {
  position: relative;
  padding: 46px 0;
  text-align: center;
}

.information__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
}

.information__competition-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}
