$text-color-on-black: #ffffff;
$body-color: #283645;
$top-menu: rgba(29, 38, 50, 0.3);
$header-color: #1d2631;

$white: #ffffff;
$black: #000000;
$bg-grey: #f2f2f2;
$red: #d22856;
$button-form: #2aab6d;
